@model List<Entity.Concrete.Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Blogs Of The Writer</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Title</th>
        <th>Create Date</th>
        <th>Category</th>
        <th>State</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var blog in Model)
    {
        <tr>
            <td>@blog.BlogId</td>
            <td>@blog.Title</td>
            <td>@blog.CreateDate</td>
            <td>@blog.Category.CategoryName</td>
            <td>@blog.Status</td>
            <td><a class="btn btn-outline-danger">Delete</a></td>
            <td><a class="btn btn-outline-info">Update</a></td>
        </tr>
    }
 </table>
<a href="#" class="btn btn-primary">New Blog</a>

